In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("/data/movielens/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("/data/movielens/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movies.shape

(9125, 3)

In [5]:
ratings.shape

(100004, 4)

In [7]:
movies[movies.title.str.contains("Godfather")]

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [9]:
ratings[ratings.movieId == 858].shape

(200, 4)

In [23]:
agg = ratings.groupby("movieId")\
.rating.agg(["count", "mean"])\
.query("count>100")\
.sort_values("mean", ascending = False)\
.iloc[:10,:]\
.merge(movies, left_index = True, right_on = "movieId")\
[["movieId", "mean", "title"]]

agg

      movieId      mean                                   title
695       858  4.487500                   Godfather, The (1972)
284       318  4.487138        Shawshank Redemption, The (1994)
977      1221  4.385185          Godfather: Part II, The (1974)
48         50  4.370647              Usual Suspects, The (1995)
472       527  4.303279                 Schindler's List (1993)
951      1193  4.256944  One Flew Over the Cuckoo's Nest (1975)
535       608  4.256696                            Fargo (1996)
266       296  4.256173                     Pulp Fiction (1994)
2288     2858  4.236364                  American Beauty (1999)
6916    58559  4.235537                 Dark Knight, The (2008)

In [19]:
agg.to_json("top_10_movies.json")

In [21]:
agg.to_csv("top_10_movies.csv", index=False)