In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/data/insurance.csv")
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
np.sort(df.region.unique())

array(['northeast', 'northwest', 'southeast', 'southwest'], dtype=object)

In [13]:
from sklearn import preprocessing, model_selection

In [112]:
target = "charges"
X = df.drop(columns=[target]) # Features
y = df[target] # Label/outcome/target

# One hot Encoding - converts the categorical data into numeric
X = pd.get_dummies(X, drop_first=True)
features = X.columns

# X.values returns numpy array for the dataframe
# astype converts each feature to floating point number
X = X.values.astype("float")

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y
                                , test_size = 0.3, random_state = 1234)

X_train.shape, X_test.shape

scaler = preprocessing.StandardScaler()
scaler.fit(X_train) # calculates x_mean and x_std for each column
# computes z score for each column
X_train_std = scaler.transform(X_train) 
# We see that mean for each column is 0 and std = 1 (approax)
pd.DataFrame(X_train_std).describe()

# Do not call scaler.fit on X_test data because 
# we want to do the transformation as done on training
X_test_std = scaler.transform(X_test)

lr = linear_model.LinearRegression()
lr.fit(X_train_std, y_train) # training is happening to build the model
y_train_pred = lr.predict(X_train_std)
y_test_pred = lr.predict(X_test_std)

test_residual = (y_test_pred - y_test) 

mse_test = np.mean(test_residual ** 2)
mse_test


print("mse for test: ", metrics.mean_squared_error(y_test, y_test_pred))
print("mse for train: ", metrics.mean_squared_error(y_train, y_train_pred))

mse for test:  37250298.43800378
mse for train:  36502931.873650074

In [34]:
y_baseline = np.mean(y_train)
sse = np.sum((y_train_pred - y_train) ** 2)
sst = np.sum((y_baseline - y_train) ** 2)
sse/sst

# this above ratio is always >0 because both numerator 
# and denominator are positive
# Expected value is < 1 because ML model should do 
# a better job that mere baseline

# is it possible to have this value > 1?
# if the model is random, then SSE could be greater than SST 
# what is minimum value for sse/sst? [answer 0, when model is perfect]

r2 = 1 - sse/sst
# expected value of r2 < 1, closer to 1, better is the model
# is r2 is negative, then the model is not useful

In [15]:
936/len(X)

0.6995515695067265

In [91]:
np.random.seed(1)
np.random.random(5)

array([4.17022005e-01, 7.20324493e-01, 1.14374817e-04, 3.02332573e-01,
       1.46755891e-01])

In [113]:
pd.DataFrame({"feature": features, "coefficient": lr.coef_})

            feature  coefficient
0               age  3487.308811
1               bmi  1904.491635
2          children   511.667655
3       gender_male  -252.292793
4        smoker_yes  9845.219666
5  region_northwest  -319.619948
6  region_southeast  -474.410964
7  region_southwest  -387.243823

In [114]:
lr.intercept_

13340.822097947648