In [1]:
print("hello")

hello

In [2]:
x = 10

In [3]:
type(x)

int

In [4]:
x = 10.4
type(x)

float

In [5]:
x = 100000000000000000000000000000000000000000000000000
x

100000000000000000000000000000000000000000000000000

In [6]:
x ** 2

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [7]:
x * 2

200000000000000000000000000000000000000000000000000

In [8]:
x > 1

True

In [10]:
chr(97)

'a'

In [11]:
x = [3, 4, 5] # list
x

[3, 4, 5]

In [16]:
x = [3, 4, 5, "abc", 6, 7, 8]
x

[3, 4, 5, 'abc', 6, 7, 8]

In [17]:
x[0]

3

In [18]:
x[1:4]

[4, 5, 'abc']

In [19]:
x[1:100]

[4, 5, 'abc', 6, 7, 8]

In [20]:
x[:4]

[3, 4, 5, 'abc']

In [21]:
x[-1]

8

In [22]:
x[-3:]

[6, 7, 8]

In [23]:
len(x)

7

In [24]:
x

[3, 4, 5, 'abc', 6, 7, 8]

In [25]:
10 in x

False

In [26]:
3 in x

True

In [27]:
"abc" in x

True

In [28]:
x = "abc"
x

'abc'

In [29]:
x = 'abc'

In [41]:
x = 'HE says "Hello"'
x

'HE says "Hello"'

In [42]:
x = "he says 'hello'"
x

"he says 'hello'"

In [43]:
x.upper()

"HE SAYS 'HELLO'"

In [44]:
x.lower()

"he says 'hello'"

In [45]:
"hello" in x

True

In [46]:
"Hello" in x

False

In [47]:
"hello" in x.lower()

True

In [48]:
x = [1, 2, 3, 3, 4]
x

[1, 2, 3, 3, 4]

In [49]:
set(x)

{1, 2, 3, 4}

In [50]:
x = {} # default type is dict, this creates an empty dictionary
type(x)

dict

In [51]:
x = {1, 2, 3} # creates set
type(x)

set

In [52]:
x = set() # this is how you create empty set

In [53]:
x.add(1)
x

{1}

In [54]:
x.add(2)
x.add(3)
x

{1, 2, 3}

In [55]:
x.add(1)
x

{1, 2, 3}

In [57]:
x = [1, 1, 2, 3]
x = list(set(x))
x

[1, 2, 3]

In [58]:
x = (1, 2, 3)
x

(1, 2, 3)

In [59]:
type(x)

tuple

In [61]:
x.add(4) # gives error because tuple is immutable

AttributeError: 'list' object has no attribute 'add'

In [60]:
x = [1, 2, 3]
x.append(4)
x

[1, 2, 3, 4]

In [62]:
x = {"a": "Apple", "b": "Boy", "c": "cat"}
x

{'a': 'Apple', 'b': 'Boy', 'c': 'cat'}

In [63]:
type(x)

dict

In [64]:
x["a"]

'Apple'

In [65]:
x["d"]

KeyError: 'd'

In [67]:
x.get("d", "<Not a valid key>") # get with a default value

'<Not a valid key>'

In [68]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [69]:
x.items()

dict_items([('a', 'Apple'), ('b', 'Boy'), ('c', 'cat')])

In [70]:
x.values()

dict_values(['Apple', 'Boy', 'cat'])

In [74]:
x = [1, 5, 7, 8]
x2 = []
s1 = 0
for v in x:
    print(v)
    w = v ** 2
    x2.append(w)
    s1 = s1 + v

1
5
7
8

In [73]:
x2

[1, 25, 49, 64]

In [75]:
s1

21

In [82]:
def is_prime(x):
    result = True
    if x == 2 or x == 3:
        result = True
    else:
        for v in range(2, x-1):
            if x % v == 0:
                result = False
                break
        
    return result

is_prime(2), is_prime(3), is_prime(4), is_prime(5)

(True, True, False, True)

In [78]:
list(range(5))

[0, 1, 2, 3, 4]

In [79]:
list(range(2, 5))

[2, 3, 4]

In [80]:
list(range(2, 20, 3))

[2, 5, 8, 11, 14, 17]

In [84]:
class Account:
    pass


account = Account()
account

In [86]:
class Account:
    pass


account = Account()
account.id = "123"
account.id

'123'

In [87]:
class Account:
    
    def __init__(self, id, name, amount):
        self.id = id
        self.name = name
        self.amount = amount


account = Account("123", "abc xyx", 100)
account

In [88]:
account.id

'123'

In [89]:
account.name

'abc xyx'

In [103]:
class Account:
    
    def __init__(self, id, name, amount):
        self.id = id
        self.name = name
        self.amount = amount

    def __repr__(self):
        return "(id: %s name: %s amount: %d)" \
                    % (self.id, self.name, self.amount)
    
    def deposit(self, amount):
        if amount > 0:
            self.amount = self.amount + amount
            
    def withdraw(self, amount):
        if amount > 0:
            self.amount = self.amount - amount
        else:
            raise Exception("Negative amount is not valid")
        

account = Account("123", "abc xyx", 100)
account.deposit(200)
account.withdraw(50)
account

(id: 123 name: abc xyx amount: 250)

In [106]:
try:
    account.withdraw(-10)
except: 
    print("Exception")

Exception

In [108]:
def inverse(x):
    result = None # like java null
    
    try:
        result = 1/x
    except ZeroDivisionError as ex:
        print("Invalid input")
    
    return result

inverse(10)

0.1

In [109]:
inverse(0)

Invalid input

In [107]:
1/0

ZeroDivisionError: division by zero

In [117]:
with open("/data/insurance.csv") as f:
    lines = f.readlines()
lines[:10]

['age,gender,bmi,children,smoker,region,charges\n',
 '19,female,27.9,0,yes,southwest,16884.924\n',
 '18,male,33.77,1,no,southeast,1725.5523\n',
 '28,male,33,3,no,southeast,4449.462\n',
 '33,male,22.705,0,no,northwest,21984.47061\n',
 '32,male,28.88,0,no,northwest,3866.8552\n',
 '31,female,25.74,0,no,southeast,3756.6216\n',
 '46,female,33.44,1,no,southeast,8240.5896\n',
 '37,female,27.74,3,no,northwest,7281.5056\n',
 '37,male,29.83,2,no,northeast,6406.4107\n']

In [112]:
import csv

In [119]:
with open("/data/insurance.csv") as f:
    csv_file = csv.reader(f)
    lines = list(csv_file)

In [121]:
lines[:5]

[['age', 'gender', 'bmi', 'children', 'smoker', 'region', 'charges'],
 ['19', 'female', '27.9', '0', 'yes', 'southwest', '16884.924'],
 ['18', 'male', '33.77', '1', 'no', 'southeast', '1725.5523'],
 ['28', 'male', '33', '3', 'no', 'southeast', '4449.462'],
 ['33', 'male', '22.705', '0', 'no', 'northwest', '21984.47061']]